<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/view/style/common.css"/>
    <link type="text/css" rel="stylesheet" href="/view/style/auth.css"/>
    <script type="text/javascript" src="/view/scripts/auth.js"></script>
</head>
<body>
    <div class="main-column">
        <div class="app-name">
            <h1>Blabber</h1>
            <span>Let's chat!</span>
        </div>
        Error: something goes wrong...
    </div>
</body>
</html>
